<div class="container">
    <div class="mainheading">
        <h1 class="sitetitle">QA</h1>
        <p class="lead">
            Ask your question and wait answers
        </p>
    </div>
    <section class="d-flex justify-content-center">
        <form id="signup" #loginForm="ngForm" (ngSubmit)="handleLogin(loginForm)">

            <div class="header">
                <br>
                <h3>Sign In</h3>

                <p>You want to fill out this form</p>

            </div>
            <div class="alert alert-info alert-dismissable" *ngIf="errorMsg">
                <a class="panel-close close" data-dismiss="alert">×</a> 
                <i class="fa fa-coffee"></i>
                {{errorMsg}}.
            </div>

            <div class="sep">
            </div>
            <div class="inputs">
                <input type="email" placeholder="e-mail" name="email" [(ngModel)]="user.email" #email="ngModel" required email
                    autofocus />
                <span class="error" *ngIf="email.invalid && (email.touched||loginForm.submitted||email.dirty)">
                    <p *ngIf="email.errors?.required">required</p>
                    <p *ngIf="email.errors?.email">Invalid email</p>
                </span>
            </div>
            <div class="inputs">
                <input type="password" placeholder="Password" name="password" [(ngModel)]="user.password"
                    #password="ngModel" required minlength="6" />
                <span class="error"
                    *ngIf="password.invalid && (password.touched||loginForm.submitted||password.dirty)">
                    <p *ngIf="password.errors?.required">required</p>
                    <p *ngIf="password.errors?.minlength">Invalid length</p>
                </span>
                <button id="submit" type="submit">SIGN In</button>

            </div>
        </form>
    </section>
</div>
