<div class="container">
    <div class="mainheading">
        <h1 class="sitetitle">QA</h1>
        <p class="lead">
            Ask your question and wait answers
        </p>
    </div>
        <form [formGroup]="askForm" (ngSubmit)="askQuestion()">
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="title" formControlName="title">
                <span *ngIf="title?.invalid && title?.touched" class="error">
                    required
                </span>
            </div>
            <div class="mb-3">
                <textarea class="form-control" placeholder="Desription" style="height: 100px" formControlName="description">
                </textarea>
                <span *ngIf="description?.invalid && description?.touched" class="error">
                    required
                </span>
            </div>

            <div class="mb-3">
                <select class="form-control" aria-label="Default select example" multiple name="tags[]" formControlName="tags">
                    <option *ngFor="let tag of allTags" value={{tag._id}} >{{tag.name}}</option>
                </select>
                <span *ngIf="tags?.invalid && description?.touched" class="error">
                    required
                </span>
            </div>
           
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
            
          </form>
    
</div>
