<div class="container">
    <div class="mainheading">
        <h1 class="sitetitle">QA</h1>
        <div class="container bootstrap snippets bootdey">
            <h1 class="text-primary"><span class="glyphicon glyphicon-user"></span>Edit Profile</h1>
              <hr>
            <div class="row">
              <!-- left column -->
              <div class="col-md-3">
                <div class="text-center">
                  <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                  <h6>Upload a different photo...</h6>
                  
                  <input type="file" class="form-control">
                </div>
              </div>
              
              <!-- edit form column -->
              <div class="col-md-9 personal-info">
                <div class="alert alert-info alert-dismissable" *ngIf="message">
                  <a class="panel-close close" data-dismiss="alert">×</a> 
                  <i class="fa fa-coffee"></i>
                  {{message}}.
                </div>
                <h3>Personal info</h3>
                
                <form class="form-horizontal" role="form" [formGroup]="editProfileForm" (ngSubmit)="editProfile()">
                  <div class="form-group">
                    <label class="col-lg-3 control-label">Title:</label>
                    <div class="col-lg-8">
                      <input class="form-control" type="text" formControlName="title" [(ngModel)]="userData.title">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-3 control-label">Location:</label>
                    <div class="col-lg-8">
                      <input class="form-control" type="text" formControlName="location" [(ngModel)]="userData.location">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-3 control-label">About-me:</label>
                    <div class="col-lg-8">
                      <textarea class="form-control" formControlName="aboutMe" [(ngModel)]="userData.aboutMe" style="height: 100px" >
                      </textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-3 control-label">Github account:</label>
                    <div class="col-lg-8">
                      <input class="form-control" type="text" formControlName="github" [(ngModel)]="userData.github">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-3 control-label">Twitter account:</label>
                    <div class="col-lg-8">
                      <input class="form-control" type="text" formControlName="twitter" [(ngModel)]="userData.twitter">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-8">
                        <button class="btn btn-primary" type="submit">Edit</button>
                    </div>
                   
                  </div>
                </form>
              </div>
          </div>
        </div>
        <hr>
    </div>

        
    
</div>
